<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biemo.cloud.biz.dict.modular.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biemo.cloud.biz.dict.api.entity.Dict">
        <id column="DICT_ID" property="dictId"/>
        <result column="DICT_TYPE_CODE" property="dictTypeCode"/>
        <result column="DICT_CODE" property="dictCode"/>
        <result column="DICT_NAME" property="dictName"/>
        <result column="DICT_SHORT_NAME" property="dictShortName"/>
        <result column="DICT_SHORT_CODE" property="dictShortCode"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DICT_ID AS dictId, DICT_TYPE_CODE AS dictTypeCode, DICT_CODE AS dictCode, DICT_NAME AS dictName, DICT_SHORT_NAME AS dictShortName, DICT_SHORT_CODE AS dictShortCode, PARENT_ID AS parentId, STATUS AS status, CREATE_TIME AS createTime, UPDATE_TIME AS updateTime
    </sql>

    <select id="getDictList" resultType="com.biemo.cloud.biz.dict.api.model.DictInfo">
        SELECT
        dict.DICT_ID AS dictId,
        dict.DICT_TYPE_CODE AS dictTypeCode,
        type.DICT_TYPE_NAME as dictTypeName,
        dict.DICT_CODE AS dictCode,
        dict.DICT_NAME AS dictName,
        dict.DICT_SHORT_NAME AS dictShortName,
        dict.DICT_SHORT_CODE AS dictShortCode,
        dict.PARENT_ID AS parentId,
        dict.STATUS AS status,
        type.APP_CODE as appCode
        FROM
        SYS_DICT dict
        INNER JOIN SYS_DICT_TYPE type ON dict.DICT_TYPE_CODE = type.DICT_TYPE_CODE
        <if test="appCode != null and appCode != ''">
            AND type.APP_CODE = #{appCode}
        </if>
        <if test="dictTypeCode != null and dictTypeCode != ''">
            AND dict.DICT_TYPE_CODE = #{dictTypeCode}
        </if>
        <if test="dictCode != null and dictCode!= ''">
            AND dict.DICT_CODE LIKE CONCAT('%',#{dictCode},'%')
        </if>
        <if test="dictName != null and dictName!= ''">
            AND dict.DICT_NAME LIKE CONCAT('%',#{dictName},'%')
        </if>
        <if test="parentId != null and parentId != ''">
            AND dict.PARENT_ID = #{parentId}
        </if>
        <if test="status != null and status !=''">
            AND dict.STATUS = #{status}
        </if>
    </select>

</mapper>
