<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biemo.cloud.system.modular.ent.mapper.EntUserDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biemo.cloud.system.modular.ent.entity.EntUserDept">
        <id column="user_dept_id" property="userDeptId" />
        <result column="user_id" property="userId" />
        <result column="duty_id" property="dutyId" />
        <result column="dept_id" property="deptId" />
        <result column="default_flag" property="defaultFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_dept_id AS "userDeptId", user_id AS "userId", duty_id AS "dutyId", dept_id AS "deptId", default_flag AS "defaultFlag"
    </sql>


    <select id="customList" resultType="com.biemo.cloud.system.modular.ent.model.result.EntUserDeptResult" parameterType="com.biemo.cloud.system.modular.ent.model.params.EntUserDeptParam">
        select
        <include refid="Base_Column_List"/>
        from biemo_ent_user_dept where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="com.biemo.cloud.system.modular.ent.model.params.EntUserDeptParam">
        select
        <include refid="Base_Column_List"/>
        from biemo_ent_user_dept where 1 = 1
    </select>

    <select id="customPageList" resultType="com.biemo.cloud.system.modular.ent.model.result.EntUserDeptResult" parameterType="com.biemo.cloud.system.modular.ent.model.params.EntUserDeptParam">
        select
        <include refid="Base_Column_List"/>
        from biemo_ent_user_dept where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.biemo.cloud.system.modular.ent.model.params.EntUserDeptParam">
        select
        <include refid="Base_Column_List"/>
        from biemo_ent_user_dept where 1 = 1
    </select>

</mapper>
