<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biemo.cloud.bbs.modular.mapper.BEmailCodeMapper">

    <resultMap type="com.biemo.cloud.bbs.modular.domain.BEmailCode" id="BEmailCodeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="email"    column="email"    />
        <result property="code"    column="code"    />
        <result property="token"    column="token"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="used"    column="used"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
</mapper>
