<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biemo.cloud.bbs.modular.mapper.BSysConfigMapper">
    <!--<cache type="org.apache.ibatis.cache.impl.PerpetualCache" eviction="lru" flushInterval="12000000" size="1024" readOnly="false"/>-->

    <resultMap type="com.biemo.cloud.bbs.modular.domain.BSysConfig" id="BSysConfigResult">
        <result property="id"    column="id"    />
        <result property="key"    column="key"    />
        <result property="value"    column="value"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
</mapper>
